<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="/cervejeiro/layout/images/favicon.png" />
<title>Cervejeiro</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/algaworks.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/application.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/cervejeiro.css}" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css" />

<!-- <script th:src="@{static/javascripts/vendors/jquery.maskMoney.min.js}"></script>  -->

<!--  <script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
-->

</head>
<body>


	<div class="aw-layout-page">
		<div th:replace="layout/fragments/barra_navegacao"></div>

		<div th:replace="layout/fragments/menu_lateral"></div>

		<section class="aw-layout-content  js-content"
			layout:fragment="conteudo"></section>

		<div th:replace="layout/fragments/rodape"></div>
	</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		type="text/javascript"></script>
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/cervejeiro.js}"></script>
	
	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>