/* icone do estilo */
.cv-glyphicon-large {
	font-size: 18px;
}

.cv-field-action {
	display: flex;
}

.cv-field-action-icon {
	margin: 6px 0 0 5px;
}

/* upload da foto */
.cv-upload {
	padding: 15px;
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	text-align: center;
}

.cv-upload-form-file {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin-botton: 1px;
}

.cv-upload-form-file>input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	opacity: 0;
	cursor: pointer;
	font-size: 500px;
}