<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_padrao">
<head>
<meta charset="UTF-8" />
<title>Cadastro de cerveja</title>
<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}">
</head>
<body>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de produto</h1>
			</div>
		</div>

		<div class="container-fluid">
			<th:block th:include="fragments/MensagemSucesso"></th:block>
			<form method="post" class="form-vertical  js-form-loading"
				th:object="${cerveja}">
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>
				<div class="row">
					<div class="form-group col-sm-6"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="input-produto-nome">Nome</label> <input id="nome"
							type="text" class="form-control" name="nome" th:field="*{nome}"
							placeholder="Nome" />
					</div>
					<div class="form-group col-sm-6"
						th:classappend="${#fields.hasErrors('sku')} ? has-error">
						<label for="input-produto-nome">SKU</label> <input id="sku"
							type="text" class="form-control" name="sku" th:field="*{sku}"
							placeholder="SKU" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12"
						th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="input-produto-descricao">Descrição</label>
						<textarea id="descricao" rows="3" class="form-control"
							style="resize: none" th:field="*{descricao}"
							placeholder="Descrição"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4 form-group"
						th:classappend="${#fields.hasErrors('estilo')} ? has-error">
						<label for="estilo">Estilo</label>
						<div class="cv-field-action">
							<select id="estilo" class="form-control" th:field=*{estilo}>
								<option value="">Selecione o estilo</option>
								<option th:each="estilo: ${estilos}" th:value="${estilo.codigo}"
									th:text="${estilo.nome}"></option>
							</select>
							<div class="cv-field-action-icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoEstilo"> <i
									class="glyphicon glyphicon-plus-sign cv-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 form-group"
						th:classappend="${#fields.hasErrors('sabor')} ? has-error">
						<label for="sabor">Sabor</label> <select th:field=*{sabor}
							id="sabor" class="form-control">
							<option value="">Selecione o sabor</option>
							<option th:each="sabor: ${sabores}" th:value="${sabor}"
								th:text="${sabor.descricao}"></option>
						</select>
					</div>

					<div class="col-sm-4 form-group"
						th:classappend="${#fields.hasErrors('teorAlcoolico')} ? has-error">
						<label for="teor_alcolico">Teor alcoólico</label>
						<div class="input-group">
							<input th:field=*{teorAlcoolico} id="teor_alcolico" type="text"
								class="form-control js-decimal" placeholder="Teor Alcoólico">
							<div class="input-group-addon">%</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 form-group"
						th:classappend="${#fields.hasErrors('origem')} ? has-error">
						<label for="origem" style="padding: 0px">Origem</label>
						<th:block th:each="origem: ${origens}">
							<div class="radio">
								<input type="radio" name="origem" th:id="|id_${origem}|"
									th:value="${origem}" th:field=*{origem} /> <label
									th:for="|id_${origem}|" th:text="${origem.descricao}"></label>
							</div>
						</th:block>
					</div>

					<div class="col-sm-3">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('valor')} ? has-error">
							<label for="input-produto-preco">Preço unitário</label>
							<div class="input-group">
								<div class="input-group-addon">R$</div>
								<input id="input-produto-preco" th:field=*{valor} type="text"
									class="form-control js-decimal" placeholder="R$" />
							</div>
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? has-error">
							<label for="input-produto-estoque">Estoque</label> <input
								th:field=*{quantidadeEstoque} id="input-produto-estoque"
								type="text" class="form-control js-plain" placeholder="Unidades" />
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group"
							th:classappend="${#fields.hasErrors('comissao')} ? has-error">
							<label for="comissao">Comissão</label>
							<div class="input-group">
								<input id="comissao" type="text" class="form-control js-decimal"
									placeholder="Comissão" th:field=*{comissao} />
								<div class="input-group-addon">%</div>
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-sm-12">
						<input type="hidden" th:field="*{foto}" /> 
						<input type="hidden" th:field="*{contentType}" />
						
						<label class="control-label">Foto</label>
					</div>
					<div class="js-container-foto-cerveja">
						<div class="form-group col-sm-12">
							<div id="upload-drop" class="cv-upload">
								<i class="glyphicon glyphicon-cloud-upload"></i> <span>Arraste
									a foto aqui ou </span> <a class="cv-upload-form-file">selecione <input
									id="upload-select" type="file" accept=".jpg,.jpeg,.png" /></a>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>

		<div th:replace="estilo/cadastro_rapido_estilo :: modal"></div>


		<th:block layout:fragment="javascript-extra">

			<th:block th:replace="hbs/foto-cerveja"></th:block>
	</section>

	<script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script>
		$(function() {
			var settings = {
				type : 'json',
				filelimit : 1,
				allow : '*.(jpg|jpeg|png)',
				action : '/cervejeiro/fotos',
				complete : function(resposta) {
					var inputNomeFoto = $('input[name=foto]').val(resposta.nome);
					var inputContentType = $('input[name=contentType]').val(resposta.contentType);
					
					var htmlFotoCervejaTemplate = $('#foto-cerveja').html();
					var template = Handlebars.compile(htmlFotoCervejaTemplate);
					var htmlFotoCerveja =  template({nomeFoto: resposta.nome});
					
					var containerFotoCerveja = $('.js-container-foto-cerveja');
					
					var uploadDrop = $('#upload-drop');
					
					inputNomeFoto.val(resposta.nome);
					inputContentType.val(resposta.contentType);
					
					uploadDrop.addClass('hidden');
					containerFotoCerveja.append(htmlFotoCerveja);
					
					$('.js-remove-foto').on('click', function(){
						$('.js-foto-cerveja').remove();
						uploadDrop.removeClass('hidden');
						inputNomeFoto.val('');
						inputContentType.val('');
					});
				}
			};
			UIkit.uploadSelect($('#upload-select'), settings);
			UIkit.uploadDrop($('#upload-drop'), settings);
		});
	</script>
	</th:block>

</body>
</html>